* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e0d8c0;
    color: #333;
}

a {
    text-decoration: none;
    color: #4c643b;
}

a:hover{
    text-decoration: underline;
}

.container{
    display: grid;
    grid-template-areas:
        'menu menu menu'
        'header header header'
        'noticia noticia noticia'
        'footer footer footer';
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

.menu{
    grid-area: menu;
    background: #4c643b;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.menu button{
    background: #4c643b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
    transition: background 0.45s ease, transform 0.35s ease;
}

.menu button:hover{
    background: #2e4b30;
    transform: scale(1.05);
}

.menu button:active{
    transform: scale(0.95);
}

.estrutura{
    grid-area: header;
    background: #4c643b;
    color: #ccc1a8;
    text-align: center;
    padding: 20px;

}

.noticias{
    grid-area: noticia;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.noticia{
    background: #f5efe1;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: subir 0.5s ease forwards;
}



@keyframes subir{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rodape{
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;

}

.noticia-h{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.noticia-h img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.texto-n{
    flex: 1; /*ocupa todo espaço X*/
}

.texto-n h2{
    margin-bottom: 10px;
}

.texto-n h5{ 
    margin-bottom: 5px;
    line-height: 1.5;
}


/*Noticia individual*/

.n-container{
    display: grid;
    grid-template-areas:
        'menu menu menu'
        'header header header'
        'noticia noticia noticia'
        'footer footer footer';
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

.n-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.conteudo{
    background: #ccc1a8;
    padding: 20px;
    border-radius: 5px;
}

.publicidade{
    background: #ccc1a8;
    padding: 15px;
    border-radius: 5px;
}


/*bloco de citação*/
.quote-container {
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  position: relative;
}

blockquote {
  background-color: #4c643b;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.6;
  border-left: none;
  color: #222;
}

.quote-line {
  height: 1px;
  background-color: #ccc;
  position: relative;
  margin: 10px 0;
}

.quote-line::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #2e4b30;
  position: absolute;
  left: 50%;
  top: -1.5px;
  transform: translateX(-50%); /*altera o eixo X(horizontal)*/
}

.quote-line.bottom::after {
  top: auto;
  bottom: -1.5px;
}
